<h1>Major Appointment</h1>
<table class="table">
	<thead>
	<tr>
		<th>Status</th>
		<th>Appointment Date</th>
		<th>Address Street</th>
		<th>Address City</th>
		<th>Address State</th>
		<th>Patient</th>
		<th>Doctor</th>
		<th>Treatments</th>
		<th>AppointmentReason</th>
	</tr>
	</thead>
	<tbody>
		@foreach(var appointmentItem in Model)
		{
			<tr>
				<td>@appointmentItem.Status</td>
				<td>@appointmentItem.AppointmentDate.ToString()</td>
				<td>@appointmentItem.Address_Street</td>
				<td>@appointmentItem.Address_City</td>
				<td>@appointmentItem.Address_State</td>
				<td>@appointmentItem.Patient</td>
				<td>@appointmentItem.Doctor</td>
				<td>@appointmentItem.Treatments</td>
				<td>
					@if (appointmentItem.AppointmentReason != null || appointmentItem.AppointmentReason != "")
					{
						@(appointmentItem.AppointmentReason)
					} else
					{
						@("Motivo da consulta não especificado.")
					}
				</td>
			</tr>
		}
	</tbody>
</table>
