@using Challenge_Odontoprev_ADB.Models.Entities
@model Challenge_Odontoprev_ADB.Application.DTOs.ConsultaReadDTO

@{
    ViewData["Title"] = "Confirmar Exclusão da Consulta";
}

<h2 class="mt-3">@ViewData["Title"]</h2>

<div class="card mt-3">
    <div class="card-body bg-warning bg-opacity-25">
        <span>
            Tem certeza de que deseja excluir esta consulta? <br/>
            <b>Essa ação pode ser permanete.</b>
        </span>
    </div>
</div>


<div class="card mt-3">
    <div class="card-body">
        <h4>Detalhes da Consulta</h4>

        <dl class="row">
            <dt class="col-sm-3">ID</dt>
            <dd class="col-sm-9">@Model.ID</dd>

            <dt class="col-sm-3">Data da Consulta</dt>
            <dd class="col-sm-9">@Model.Data_Consulta.ToString("dd/MM/yyyy HH:mm")</dd>

            <dt class="col-sm-3">Status</dt>
            <dd class="col-sm-9">@Model.Status</dd>

            <dt class="col-sm-3">ID Paciente</dt>
            <dd class="col-sm-9">@Model.ID_Paciente</dd>

            <dt class="col-sm-3">Status</dt>
            <dd class="col-sm-9">@Model.ID_Dentista</dd>
        </dl>

        <button id="delete-button" class="btn btn-danger">Excluir</button>
        <a href="@Url.Action("Index", "Home")" class="btn btn-secondary">Cancelar</a>
    </div>
</div>