@model Challenge_Odontoprev_ADB.Application.DTOs.AppointmentDTO

@{
    ViewData["Title"] = "Detalhes da Consulta";
}

<h2 class="mt-3">@ViewData["Title"]</h2>

<div class="card mt-3">
    <div class="card-body">
        <h4>Informações da Consulta</h4>

        <dl class="row">
            <dt class="col-sm-3">ID</dt>
            <dd class="col-sm-9">@Model.Id</dd>

            <dt class="col-sm-3">Motivo da Consulta</dt>
            <dd class="col-sm-9">@(string.IsNullOrEmpty(Model.AppointmentReason) ? "Motivo da consulta não definido" : Model.AppointmentReason)</dd>

            <dt class="col-sm-3">Status</dt>
            <dd class="col-sm-9">@Model.Status</dd>

            <dt class="col-sm-3">Data da Consulta</dt>
            <dd class="col-sm-9">@Model.AppointmentDate.ToString("dd/MM/yyyy HH:mm")</dd>
        </dl>

        <h4>Endereço</h4>
        <dl class="row">
            <dt class="col-sm-3">Rua</dt>
            <dd class="col-sm-9">@Model.Address_Street</dd>

            <dt class="col-sm-3">Cidade</dt>
            <dd class="col-sm-9">@Model.Address_City</dd>

            <dt class="col-sm-3">Estado</dt>
            <dd class="col-sm-9">@Model.Address_State</dd>
        </dl>

        <h4>Informações do Paciente</h4>
        <dl class="row">
            <dt class="col-sm-3">Paciente ID</dt>
            <dd class="col-sm-9">@Model.PatientId</dd>
        </dl>

        <h4>Informações do Médico</h4>
        <dl class="row">
            <dt class="col-sm-3">Médico ID</dt>
            <dd class="col-sm-9">@Model.DoctorId</dd>
        </dl>

        <h4>Tratamento</h4>
        <dl class="row">
            <dt class="col-sm-3">Tratamento ID</dt>
            <dd class="col-sm-9">@Model.TreatmentId</dd>
        </dl>

        <a href="@Url.Action("Index", "Home")" class="btn btn-primary mt-3">Voltar para a Lista</a>
    </div>
</div>
